/* COMMON CSS START */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul, ol,li,a{
    list-style-type: none;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
/* COMMON CSS END */


/* common font start */
:root {
    --font-family: "Josefin Sans", sans-serif;
    --second-family: "Roboto", sans-serif;
  }
/* common font end */


/* common color start */
:root {
	--text-color: #11161e;
	--3d-primary-color: #151a32;
	--comon-colot: #fff;
	--1st-primary-color: #ff6f61;
	--paragraph-color: #444;
	--2nd-primary-color: #ff5645;
	--background-color: #f1f1f1;
	--bg: #f1f3f4;
	--black: #000;
	--a6aab7: #a6aab7;
    --1d1d: #1d1d1d;
    --bdbdbd: #bdbdbd;
    --e0e0e0: #e0e0e0;
}
/* common color end */


body{
    font-family: var(--second-family);
}

/* navigation secton start */
nav{
    z-index: 80;
}

nav.active{
    top: 0;
    left: 0;
    position: fixed;
    animation: active 0.5s linear;
}

@keyframes active{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}


nav .navbar-nav{
    padding-bottom: 0px;
}

nav .container .parents{
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}

nav .container .parents .dropdown{
    position: absolute;
    border-radius: 0;
    padding-left: 0;
    top: 130px;
    left: 0;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: var(--background-color);
    transition: 0.5s;
}

nav .container .parents .dropdown li{
    padding: 0px;
    margin: 0;
    width: 100%;
}

nav .container .parents .dropdown li a{
    display: inline-block;
    width: 100%;
    padding: 10px 30px;
    background-color: var(--background-color);
    position: relative;
}

nav .container .parents:hover .dropdown{
    top: 42px;
    opacity: 1;
    visibility: visible;
}

nav .container .parents .dropdown a::after{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px dashed var(--2nd-primary-color);
    top: 15px;
    left: 3px;
}

nav .navbar-nav li{
    
    margin-left: 20px;
}

nav .navbar-nav li a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--text-color);
    position: relative;
    transition: 0.2s;
    display: inline-block;
}
nav .navbar-nav li a:hover{
    color: var(--1st-primary-color);
}

nav .navbar-nav li a::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 0px;
    background-color: var(--1st-primary-color);
    transition: 0.7s;
}

nav .navbar-nav li a:hover::before{
    width: 250px;
}

nav .icone{
    display: flex;
    padding: 0px;
    margin: 0;
}

nav .icone li{
    width: 24px;
    height: 24px;
    padding: 0 20px;
}

nav .icone li a{
    height: 18px;
    width: 18px;
    color: var(--3d-primary-color);
    transition: 0.2s;
}
nav .icone li a:hover{
    color: var(--1st-primary-color);
}

nav .icone .bag{
    position: relative;
}

nav .icone .bag .number-of-sales{
    position: absolute;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: var(--1st-primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--comon-colot);
    top: 0;
    right: -3px;

}


/* ====================HOME PAGE START==================== */

.search_box{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.858);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: 85;
}

.search_box.search_active{
    visibility: visible;
    opacity: 1;
}

.search_box input{
    border: 2px solid var(--2nd-primary-color);
    border-radius: 50px;
    padding: 10px 60px 10px 20px;
    outline: none;
    background-color: transparent;
    color: var(--comon-colot);
    width: 0px;
    transition: 0.5s;
}


.search_box input.input_active{
    width: 400px;
}

.search_box input::placeholder{
    color: var(--comon-colot);
}

.search_box button{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: var(--comon-colot);
    outline: none;
    border: none;
    border: 2px solid var(--2nd-primary-color);
    background-color: var(--2nd-primary-color);
    padding: 10px 18px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.search_box span{
    position: absolute;
    color: var(--comon-colot);
    top: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    border: 2px solid var(--2nd-primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    transition: .03s;
}

.search_box span:hover{
    transform: scale(1.2);
    border: 2px solid var(--comon-colot);
}
/* navigation secton end */


/* banner section start */
#banner .child-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}

#banner .child-banner .container .contains{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#banner .child-banner .container .contains h6{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--1d1d);
    /* transform: translateY(-200%);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s; */
}

/* #banner  .child-banner .slick-active .contains h6{
    opacity: 1;
    transform: translateY(0%);
} */

#banner .child-banner .container .contains h2{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 116%;
    color: var(--1d1d);
    margin-top: 14px;
    /* transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s; */

}

/* #banner  .child-banner .container .slick-active .contains h2{
    opacity: 1;
    transform: translateY(0%);
} */

#banner .child-banner .container .contains p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--1d1d);
    margin: 16px 0 29px 0;
}

#banner .child-banner .container .contains .ancore a{
    background-color: var(--1st-primary-color);
    padding: 13px 0px 13px 37px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: var(--comon-colot);
    transition: 0.2s;
}

#banner .child-banner .container .contains .ancore a:hover{
    background-color: var(--2nd-primary-color);
}

#banner .child-banner .container .contains .ancore a span{
    padding: 0px 38px 0px 10px;
}

#banner .dots_container{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

#banner .dots_container li button{
    background-color: var(--comon-colot);
    border: none;
    width: 10px;
    height: 6px;
    border-radius: 5px;
    color: transparent;
    margin-right: 5px;
}

#banner .dots_container .slick-active button{
    background-color: var(--1st-primary-color);
    width: 28px;
}

/* banner section end */


/* photo galary section start */
#photo-galary{
    padding-top: 85px;
}

#photo-galary .container .row .overlay h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    text-align: center;
    color: var(--comon-colot);
}

#photo-galary .container .row .overlay a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    color: var(--comon-colot);
}

#photo-galary .container .row .img1{
   position: relative;
   padding: 5px;
}

#photo-galary .container .row .img2{
    position: relative;
    padding: 5px;
 }

 #photo-galary .container .row .img3{
    position: relative;
    padding: 5px;
 }

#photo-galary .container .row .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    background: var(--text-color);
    opacity: 0.4;
    scale: 0;
    transition: 0.5s;
}

#photo-galary .container .row .img1:hover .overlay{
    scale: 0.8;
}

#photo-galary .container .row .img2:hover .overlay{
    scale: 0.8;
}

    #photo-galary .container .row .img3:hover .overlay{
        scale: 0.8;
    }

/* photo galary section end */


/* newArivalProduct section start */

#newArivalProduct{
    padding-top: 100px;
    position: relative;
}
#newArivalProduct .container .heading{
    padding-bottom: 24px;
}

/* #newArivalProduct .container .productImage{
    
} */

#newArivalProduct .container .heading h3{

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    text-align: center;
    color: var(--text-color);
}

#newArivalProduct .container .productSlider{
    padding: 0 12px;
}

#newArivalProduct .container .productContains{
    text-align: center;
    padding: 24px;
    border: 1px solid var(--bg);
    border-top: none;
}

#newArivalProduct .container .productImage{
    position: relative;
}

#newArivalProduct .container .productImage img{
    background-size: cover;
    display: inline-block;
}

#newArivalProduct .container .productImage .specialPrice{
    position: absolute;
    top: 14px;
    left: 24px;
    transform: rotate(-90deg);
    background: var(--1st-primary-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--comon-colot);
    padding: 0 8px;
    border-radius: 13px 0 0 13px;
    transition: 0.2s ease;
}

#newArivalProduct .container .productImage .specialPrice:hover{
    background-color: var(--2nd-primary-color);
}

#newArivalProduct .container .productImage .iconeOverlay{
    position: absolute;
    top: 44px;
    right: 17px;
}

#newArivalProduct .container .productImage .iconeOverlay a{
    display: block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: var(--comon-colot);
    text-align: center;
    line-height: 36px;
    color: var(--3d-primary-color);
    margin-bottom: 10px;
    transition: 0.2s ease;

}

#newArivalProduct .container .productImage .iconeOverlay li:hover a{
    background-color: var(--1st-primary-color);
    color: var(--comon-colot);
}

#newArivalProduct .container .productSlider .productImage .iconeOverlay li{
    transform: translateX(-70%);
    transition: 0.3s;
    opacity: 0;
    visibility: visible;
}

#newArivalProduct .container .productSlider .productImage .iconeOverlay li:nth-child(2){
    transition-delay: 0.2s;
}

#newArivalProduct .container .productSlider .productImage .iconeOverlay li:nth-child(3){
    transition-delay: 0.3s;
}

#newArivalProduct .container .productSlider .productImage .iconeOverlay li:nth-child(4){
    transition-delay: 0.4s;
}

#newArivalProduct .container .productSlider:hover .productImage .iconeOverlay li{
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--3d-primary-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: var(--comon-colot);
    
  }

#newArivalProduct .container .productContains p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--paragraph-color);
}

#newArivalProduct .container .productContains h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--text-color);
    margin: 5px 0 11px 0;
}

#newArivalProduct .container .productContains span{
    font-size: 12px;
    color: var(--1st-primary-color);
    display: flex;
    justify-content: center;
}

#newArivalProduct .container .arrows .leftArrow,
#newArivalProduct .container .arrows .rightArrow{
    position: absolute;
    width: 30px;
    height: 50px;
    background: var(--3d-primary-color);
    opacity: 0.5;
    color: var(--comon-colot);
    text-align: center;
    line-height: 50px;
    top: 60%;
    transform: translateY(-60%);
    cursor: pointer;
}

#newArivalProduct .container .arrows .leftArrow{
    left: 24px;
}

#newArivalProduct .container .arrows .rightArrow{
    right: 24px;
    
}


/* newArivalProduct section end */



/* second-banner start */

#second-banner .parent-banner2 .child-banner2{
    height: 524px;
    width: 100%;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#second-banner .parent-banner2 .child-banner2 .contains{
    height: 524px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#second-banner .parent-banner2 .child-banner2 .contains h3{
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 36px;
   line-height: 128%;
   color: var(--comon-colot);
}

#second-banner .parent-banner2 .child-banner2 .contains p{
   font-family: var(--second-family);
   font-weight: 400;
   font-size: 16px;
   line-height: 175%;
   color: var(--comon-colot);
   margin: 10px 0 30px 0;
}

#second-banner .parent-banner2 .child-banner2 .contains a{
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 18px;
   line-height: 167%;
   text-align: center;
   color: var(--comon-colot);
   padding: 13px 0 13px 34px;
   border: 1px solid var(--comon-colot);
   transition: 0.3s;
}

#second-banner .parent-banner2 .child-banner2 .contains a:hover{
    background-color: var(--2nd-primary-color);
}

#second-banner .parent-banner2 .child-banner2 .contains a span{
    padding: 0 24px 0 10px;
}

/* second-banner end */


/* bestSellerProducts section style start */

#bestSellerProducts{
    position: relative;
    margin-top: 100px;
}

#bestSellerProducts .container .header{
    text-align: center;
}

#bestSellerProducts .container .header h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    padding-bottom: 30px;
    text-align: center;
    color: var(--text-color);
}

#bestSellerProducts .container .productsItems .products {
    margin-bottom: 24px;

}

#bestSellerProducts .container .productsItems .products .productImage{
    position: relative;
    background-color: var(--background-color);
}

#bestSellerProducts .container .productsItems .products .productImage img{
    background-size: cover;
    display: inline-block;
    height: 310px;
}

#bestSellerProducts .container .productsItems .products .discountPrice{
    position: absolute;
    top: 14px;
    left: 24px;
    transform: rotate(-90deg);
    background: var(--1st-primary-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--comon-colot);
    padding: 0 8px;
    border-radius: 13px 0 0 13px;
    transition: 0.2s ease;
}

#bestSellerProducts .container .productsItems .products .discountPrice:hover{
    background-color: var(--2nd-primary-color);
}

#bestSellerProducts .container .productsItems .products .icones{
    position: absolute;
    top: 30px;
    right: 20px;
}

#bestSellerProducts .container .productsItems .products .productDetils{
    text-align: center;
    border: 1px solid var(--bg);
    padding-bottom: 26px;
    padding: 15px;
}

#bestSellerProducts .container .productsItems .products .productDetils .pdSpan1{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    margin-top: 24px;
    color: var(--paragraph-color);
}

#bestSellerProducts .container .productsItems .products .productDetils .pdSpan2{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-decoration: line-through;
    color: var(--bdbdbd);
}

#bestSellerProducts .container .productsItems .products .productDetils h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: var(--text-color);
}

#bestSellerProducts .container .productsItems .products .productDetils span{
    color: var(--2nd-primary-color);
    margin:0 0 26px 0;
}

#bestSellerProducts .container .productsItems .products .icones a{
    display: block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: var(--comon-colot);
    text-align: center;
    line-height: 36px;
    color: var(--3d-primary-color);
    margin-bottom: 10px;
    transition: 0.2s ease;
}

#bestSellerProducts .container .productsItems .products .icones li:hover a{
    background-color: var(--1st-primary-color);
    color: var(--comon-colot);
}

#bestSellerProducts .container .productsItems .products .icones li{
    transform: translateX(-70%);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

#bestSellerProducts .container .productsItems .products:hover .icones li{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

#bestSellerProducts .container .productsItems .products .icones li:nth-child(2){
    transition-delay: 0.2s;
}

#bestSellerProducts .container .productsItems .products .icones li:nth-child(3){
    transition-delay: 0.3s;
}

#bestSellerProducts .container .productsItems .products .icones li:nth-child(4){
    transition-delay: 0.4s;
}

/* bestSellerProducts section style end */



/* productTimer section style start */
#productTimer{
    margin-top: 100px;
    padding-bottom: 25px;
}

#productTimer .timerHeader ul{
    border-radius: 40px;
    width: 325px;
    height: 70px;
    display: flex;
    box-shadow: 0 0 10px 0 rgba(21, 26, 50, 0.1);
    background: var(--comon-colot);
    margin: auto;
    text-align: center;
    align-items: center;
}

#productTimer .container{
    position: relative;
}


#productTimer .timerHeader{
    position: absolute;
    left: 50%;
    transform: translateX(-50%)  translateY(-50%);
    z-index: 70;
}

#productTimer .timerHeader ul li{
    width: 25%;
    position: relative;
}

#productTimer .timerHeader ul li span{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 142%;
    text-align: center;
    color: var(--text-color);
}

#productTimer .timerHeader ul li h5{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: var(--paragraph-color);
}

#productTimer .timerHeader ul li:before{
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--1st-primary-color);
    top: 20px;
    right: 0;
}

#productTimer .timerHeader ul li::after{
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--1st-primary-color);
    bottom: 20px;
    right: 0;
}

   
#productTimer .timerHeader ul li:last-child::before,
#productTimer .timerHeader ul li:last-child::after{
    display: none;
}

#productTimer .container .parentTimmer .subChildTimmer{
    padding: 20px;
}

#productTimer .container .parentTimmer .childTimmer{
    width: 100%;
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
 }


#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains{
    z-index: 10;
    padding: 20px;
}

#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains h6{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--text-color);
    margin-top: 10px;
}

#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: var(--text-color);
    margin-top: 10px;
}

#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--paragraph-color);
    margin: 16px 0;
}

#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains .span1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-color);
}

#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains .span2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--paragraph-color);
}

#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains button{
    background-color: var(--3d-primary-color);
    border-radius: none;
    display: inline-block;
    padding: 13px 0;
    margin-top: 30px;
    background-color: var(--black);
    border: none;
    transition: 0.2s;
    position: relative;
    z-index: 2;
}

#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains button a{
    padding: 19px 17px;
}

#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains button::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--1st-primary-color);
    top: 0;
    left: 0;
    mask-image: url(../images/Home-page-img/buttonMuskImage.png);
    mask-size: 3000% 100%;
    animation: maskanianc2 0.8s steps(29) backwards;
    z-index: -2;
}

#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains button:hover::before{
    animation: maskanianc1 0.8s steps(29) forwards;
}

@keyframes maskanianc1{
    0%{
        mask-position: 0 0;
    }
    100%{
        mask-position: 100% 0;
    }
}

@keyframes maskanianc2{
    0%{
        mask-position: 100% 0;
    }
    100%{
        mask-position: 0 0;
    }
}


#productTimer .container .parentTimmer .subChildTimmer .childTimmer .contains .ancore button a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    color: var(--comon-colot);
}

#productTimer .container .parentTimmer{
    box-shadow: 0 0 70px 0 rgba(21, 26, 50, 0.08);
    background-color: var(--comon-colot);
    position: relative;
    padding-bottom: 40px;
    
}

#productTimer .container .parentTimmer .dots_Timmer{
    position: absolute;
    width: 100px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;  
}


#productTimer .container .parentTimmer .dots_Timmer li button{
    background: var(--bdbdbd);
    border: none;
    width: 10px;
    height: 6px;
    border-radius: 5px;
    color: transparent;
    margin-right: 5px;
}

#productTimer .container .parentTimmer .dots_Timmer .slick-active button{
    background-color: var(--3d-primary-color);
    width: 26px;
}


#productTimer .timmerBtn{
    text-align: center;
}

#productTimer .timmerBtn button{
    margin-top: 5px;
    padding: 13px 0px;
    border: none;
    background-color: var(--black);
    transition: 0.2s;
    position: relative;
    z-index: 2;
}
#productTimer .timmerBtn button a{
    padding: 17px 27px;
}

#productTimer .timmerBtn button::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--1st-primary-color);
    top: 0;
    left: 0;
    mask-image: url(../images/Home-page-img/buttonMuskImage.png);
    mask-size: 3000% 100%;
    animation: maskani2 0.8s steps(29) backwards;
    z-index: -2;
}

#productTimer .timmerBtn button:hover::before{
    animation: maskani1 0.8s steps(29) forwards;
}

@keyframes maskani1{
    0%{
        mask-position: 0 0;
    }
    100%{
        mask-position: 100% 0;
    }
}

@keyframes maskani2{
    0%{
        mask-position: 100% 0;
    }
    100%{
        mask-position: 0 0;
    }
}

#productTimer .timmerBtn button a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    color: var(--comon-colot);
}
#productTimer .timmerBtn button a span {
    padding-left: 4px;
}


#productTimer .container .parentTimmer .subChildTimmer{
    position: relative;
}

#productTimer .container .parentTimmer .subChildTimmer::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    background-color: var(--bg);
    opacity: 0.2;
}

#productTimer .container .parentTimmer .subChildTimmer::after{
    position: absolute;
    content: "";
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    background-color: var(--bg);
    opacity: 0.3;
}

#productTimer .container .parentTimmer .subChildTimmer:hover::before{
    top: 0%;
    bottom: 0%;
    transition: 1000ms linear;
    opacity: 0;
}

#productTimer .container .parentTimmer .subChildTimmer:hover::after{
    left: 0;
    right: 0;
    transition: 1000ms linear;
    opacity: 0;
}


/* productTimer section style end */




/* thirdBanner section style start */

#thirdBanner{
    margin-top: 25px;
}


#thirdBanner .container{  
    width: 100%;
}

#thirdBanner .container .contains{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

#thirdBanner .container .contains .details h6{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--paragraph-color);;
}

#thirdBanner .container .contains .details h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: var(--text-color);
}

#thirdBanner .container .contains .details p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--paragraph-color);
}

#thirdBanner .container .contains .details .btnAncore button{
    background-color: var(--black);
    border: none; 
    padding: 12px 0;
    transition: 0.2s;
    margin-top: 15px;
    position: relative;
    z-index: 3;
}

#thirdBanner .container .contains .details .btnAncore button a{
    padding: 18px 27px;
}

#thirdBanner .container .contains .btnAncore button::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--1st-primary-color);
    top: 0;
    left: 0;
    mask-image: url(../images/Home-page-img/buttonMuskImage.png);
    mask-size: 3000% 100%;
    animation: maskanivdobtn2 0.8s steps(29) backwards;
    z-index: -3;
}

#thirdBanner .container .contains .btnAncore button:hover::before{
    animation: maskanivdobtn1 0.8s steps(29) forwards;
}

@keyframes maskanivdobtn1{
    0%{
        mask-position: 0 0;
    }
    100%{
        mask-position: 100% 0;
    }
}

@keyframes maskanivdobtn2{
    0%{
        mask-position: 100% 0;
    }
    100%{
        mask-position: 0 0;
    }
}


#thirdBanner .container .contains .btnAncore button a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: var(--comon-colot);
}

#thirdBanner .container .contains .btnAncore button a span{
    padding-left: 4px;
}

#thirdBanner .container .videoimage .images img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#thirdBanner .container .videoimage .images{
    position: relative;
}

#thirdBanner .container .videoimage .images .videoPlayButton{
    position: absolute;
    top: 50%;
    right: 50%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--comon-colot);
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    color: var(--1st-primary-color);
    cursor: pointer;
    z-index: 3;
    transition: 0.5s;

}

#thirdBanner .container .videoimage .images .videoPlayButton:hover{
    background-color: var(--2nd-primary-color);
    color: var(--comon-colot);
}

#thirdBanner .container .videoimage .images .videoPlayButton::before{
    position: absolute;
    content: "";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--comon-colot);
    animation: playButtonSpam 3s infinite linear;
    top: 0px;
    right: 0px;
    z-index: -3;
}

@keyframes playButtonSpam{
    0%{
      opacity: 0;
      transform:scale(1);
    }
    30%{
      opacity: 0.6;
    }
    100%{
      opacity: 0;
      transform: scale(1.6);
    }
}

/* thirdBanner section style start */





/* latestNews section style start */

#latestNews {
    margin-top: 112px;
}

#latestNews .container .heading{
    text-align: center;
}

#latestNews .container .heading h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    text-align: center;
    color: var(--text-color);
    padding-bottom: 34px;
   
}

#latestNews .latestParentNews{
    padding-bottom: 40px;
}

#latestNews .latestParentNews .latestProduct{
    padding: 15px;
    width: 366px;
    transition: 0.2s;
}

#latestNews .latestParentNews .latestProduct:hover{
    transform: scale(1.1);
}

#latestNews .latestParentNews .latestProduct .product{
    padding: 10px;
    background-color: var(--comon-colot);
}

#latestNews .latestParentNews .latestProduct .product .latestcontains h4{
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 20px;
   line-height: 150%;
   color: var(--text-color);
}

#latestNews .latestParentNews .latestProduct .product .latestcontains h4:hover{
    color: var(--1st-primary-color);
}

#latestNews .latestParentNews .latestProduct .product .latestcontains p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--paragraph-color);
}


#latestNews .latestParentNews .latestProduct .product .latestcontains a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: var(--paragraph-color);
}

#latestNews .latestParentNews .latestProduct .product .latestcontains a:hover{
    color: var(--1st-primary-color);
}


#latestNews .latestParentNews .latestProduct .product .latestcontains .date{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--paragraph-color);
}

#latestNews .latestParentNews .latestProduct .latestImage{
    height: 200px;
}

#latestNews .latestParentNews .latestProduct .latestImage img{
    height: 100%;

}

#latestNews .latestParentNews .container{
    position: relative;
}


#latestNews .dots_latest{
    position: absolute;
    bottom: 20%;
    display: flex;
    width: 200px;
}

#latestNews .dots_latest li button{
    background-color: var(--bdbdbd);
    border: none;
    border-radius: 5px;
    width: 10px;
    height: 6px;
    color: transparent;
    margin-right: 5px;
    
}

#latestNews .dots_latest .slick-active button{
    background: var(--3d-primary-color);
    border-radius: 5px;
    width: 26px;
    height: 6px;
}


/* latestNews section style end */






/* serviceSection style start */
#service{
    z-index: 50;
}

#service .parectService{
    padding: 30px 10px;
    box-shadow: 0 0 50px 0 rgba(21, 26, 50, 0.1);
    background: var(--comon-colot);
}

#service .parectService .childService{
    border-right: 4px solid var(--background-color);
    padding: 5px 0;
}

#service .parectService .childService img:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

#service .parectService .childService h6{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-color);
}

#service .parectService .childService h6:hover{
    color: var(--1st-primary-color);
    transition: 0.2s;
}

#service .parectService .childService p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--paragraph-color);
}

#service .parectService .childService p:hover{
    color: var(--1st-primary-color);
    transition: 0.2s;
} 


/* serviceSection style end */



/* bottomSection start */
#bottom{
    background-color: var(--black);
    position: relative;
    margin-top: 0px;
}



#bottom .parectService .childService p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--paragraph-color);
}

#bottom .parectService .childService p:hover{
    color: var(--1st-primary-color);
}

#bottom .socialMediaLink{
    border-bottom: 1px solid var(--e0e0e0);
    padding: 56px 0 76px 0;
}

#bottom .socialMediaLink .icons{
    padding: 20px 0;
}


#bottom .socialMediaLink .btmlogo{
    padding: 20px 0;
}

#bottom .socialMediaLink .masterCard{
    padding: 20px 0;
}

#bottom .contactInfo{
    padding: 70px 0px;
}

#bottom .contactInfo .myContact{
    margin-top: 22px;
}

#bottom .contactInfo .support{
    margin-top: 22px;
}

#bottom .contactInfo .openingTime{
    margin-top: 22px;
}

#bottom .contactInfo .contactUs{
    margin-top: 22px;
}

#bottom .contactInfo .newsLetter{
    margin-top: 22px;
}

#bottom .contactInfo .details{
    margin-top: 22px;
}

#bottom .contactInfo .heading h6{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 142%;
    color: var(--comon-colot);
}

#bottom .contactInfo .details p a{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--comon-colot);
}

#bottom .contactInfo .details p a:hover{
    color: var(--1st-primary-color);
    transition: 0.2s;
}

#bottom .contactInfo .details p span{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--comon-colot);
}

#bottom .contactInfo .contactUs .details span a{
    color: var(--1st-primary-color);
    height: 24px;
    width: 24px;
}

#bottom .contactInfo .contactUs .details span a:hover{
    color: var(--2nd-primary-color);
}

#bottom .contactInfo .contactUs .details p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--comon-colot);
}

#bottom .contactInfo .newsLetter .details p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--comon-colot);
}

#bottom .contactInfo .newsLetter .details .submit{
    display: flex;
    margin-top: 30px;
    width: 312px;
}

#bottom .contactInfo .newsLetter .details .submit .inpute{
    border: none;
    background-color: var(--comon-colot);
    padding: 11px 10px;
}

#bottom .contactInfo .newsLetter .details .submit .button{
    border: none;
    padding:  11px 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: var(--comon-colot);
    background-color: var(--1st-primary-color);
}

#bottom .contactInfo .newsLetter .details .submit .button:hover{
    background-color: var(--2nd-primary-color);
    transition: 0.2s;
}


/* bottomSection end */










/* ====================HOME PAGE END==================== */